/*---------------------------Custom CSS---------------------------------------*/
.aanwezigNotConfirmed {
    background-color: #e6e6e6;
    color: black;
}


.hogentLogo img {
    width: 2.5em;
}

.itlabLogo img {
    width: 6em;
    height: 2em;
}
.scrollbar {
    margin-left: 30px;
    float: left;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
}

.force-overflow {
    min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #0081c5;
}
.scrollbar-primary::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.scrollbar-primary {
    scrollbar-color: #0081c5 #F5F5F5;
}

.beschrijving {
    white-space:pre-wrap;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.navcolor {
    background-color: #0081c5;
    color: black;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #0081c5;
    color: black;
}

/*star rating*/
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}

    .rating label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        cursor: pointer;
    }

        .rating label:last-child {
            position: static;
        }

        .rating label:nth-child(1) {
            z-index: 5;
        }

        .rating label:nth-child(2) {
            z-index: 4;
        }

        .rating label:nth-child(3) {
            z-index: 3;
        }

        .rating label:nth-child(4) {
            z-index: 2;
        }

        .rating label:nth-child(5) {
            z-index: 1;
        }

        .rating label input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .rating label .icon {
            float: left;
            color: transparent;
        }

        .rating label:last-child .icon {
            color: #000;
        }

    .rating:not(:hover) label input:checked ~ .icon,
    .rating:hover label:hover input ~ .icon {
        color: #09f;
    }

    .rating label input:focus:not(:checked) ~ .icon:last-child {
        color: #000;
        text-shadow: 0 0 5px #09f;
    }

.blue-star {
    color: #09f;
    float: left;
    line-height: 1em;
}

.normal-star {
    float: left;
    line-height: 1em;
}

.comment {
    position: relative;
    border: 1px solid;
    border-radius: 5px;
    border-color: #d5d5d5;
    margin-bottom: 15px;
    padding: 15px 15px 15px 15px;
    font-size: 40px;
    width: auto;
    min-height: 150px;
}

p.naam_tijd {
    text-align: right;
    font-size: small;
    margin-bottom: 0px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.inhoud {
    font-size: medium;
    word-wrap: break-word;
    margin-bottom: 10px;
    clear: both;
}

.verwijder-comment-knop {
    position: relative;
    float: right;
    font-size: small;
    top: 5px;
    right: 5px;
    margin-bottom: 0px;
