@{
    ViewData["Title"] = "It-Lab";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Klik hier voor een <a asp-area="" asp-controller="Sessie" asp-action="Index">volledig overzicht van de evenementen</a>.</p>
</div>
