@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij het IT-Lab</h1>
    <p>Klik hier voor een <a asp-area="" asp-controller="Sessie" asp-action="Index">volledig overzicht van de evenementen</a>.</p>
</div>
