@page
@model NotActiveModel
@{
    ViewData["Title"] = "Not active";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account is not active, please try again later.</p>
</header>
